<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diplom.Properties.Settings.hpnConnectionString" connectionString="Data Source=ANNA-PC;Initial Catalog=hpn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Diplom.Properties.Settings.ClienthpnConnectionString"
            connectionString="Data Source=|DataDirectory|\hpn.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Diplom.Properties.Settings.ServerhpnConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=hpn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>